---
layout: default
section: blog
---

<article class="h-feed">
  <h1 hidden>Blog</h1>

  {% for post in paginator.posts %}
    {% capture date %}{{ post.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      <h2 class='month h3'>{{ post.date | date: '%B %Y' }}</h2>
    {% endif %}
    
    <section class="h-entry">
      <a class="u-url no-url" href='{{ site.baseurl }}{{ post.url }}'>
        <hgroup>
          <h3 class="p-title h4">
              {{ post.title }}
          </h3>
          <p class='dt-published'>&#126; {{ post.date | date:"%b %d" }}</p>
        </hgroup>
      </a>
    </section>
  {% endfor %}
</article>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.total_pages != 1 %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Nieuwer
      </a>
    {% else %}
      <span class="previous">Nieuwer</span>
    {% endif %}
    
    <span class="page_number ">
      {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Ouder</a>
    {% else %}
      <span class="next ">Ouder</span>
    {% endif %}
  {% endif %}
</div>
