---
layout: default
section: blog
---

{% if page.thumbnail %}
  {% if page.thumbnail contains 'http' %}
    {% capture url %}{{page.thumbnail}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.thumbnail}}/{% endcapture %}
  {% endif %}

  <img class="thumbnail" src='{{url}}' alt='Post thumbnail' />
{% endif %}

<article class="h-entry">
  <hgroup>
    <h1 class="p-title">{{ page.title }}</h1>
    <p class="dt-published">&#126; {{ page.date | date:"%b %d" }}</p>
  </hgroup>

  <section class="p-summary e-content">
    {{content}}
  </section>
</article>

{% if page.comments %}
  <hr>

  <h2>Comments</h2>

  {% include comments.html %}
{% endif %}